# Backend
backend/venv/
backend/.env
__pycache__/
*.pyc

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*


secrets.md